*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

:root {
  --white: hsl(0, 0%, 100%);
  --very-dark-blue-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --soft-blue: hsl(215, 51%, 70%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --cyan: hsl(178, 100%, 50%);
}

body {
  font-size: 18px;
  margin: 0;
  padding-inline: 24px;
  min-height: 100vh;
  background-color: var(--very-dark-blue-bg);
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
